### Ipython notebook
*.ipynb*

### cython extension
*.c
*.so

### Pycharm project files
*.idea

### Python bytecode files
*.pyc
*pycache*

### JSON file
*.json

### txt file
*.txt
*.csvg

### Others
*.DS_Store